.Message {
  @include transition();
}
.Message:hover {
  background-color: $light-grey;
  padding-left: 0.3rem;
}
.messageBody {
  display: block;
  font-size: 1rem;
  padding-left: 0.3rem;
}
.date {
  color: #9e9ea6;
  font-size: 0.75rem;
  margin-left: 0.5rem;
}